{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-md-8">
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <form method="post" class="bg-white  rounded-5 shadow-5-strong p-5">
                    <div class="form-outline mb-4">
                        <input type="email" value="{{ last_username }}" name="email" id="form1Example1" class="form-control">
                        <label class="form-label" for="form1Example1" style="margin-left: 0px;">Adresse Email</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 88.8px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="form-outline mb-4">
                        <input type="password" name="password" id="form1Example2" class="form-control">
                        <label class="form-label" for="form1Example2" style="margin-left: 0px;">Mot de Passe</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;"></div>
                            <div class="form-notch-middle" style="width: 64.8px;"></div>
                            <div class="form-notch-trailing"></div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <div class="form-check">
                            <input class="form-check-input" name="_remember_me" type="checkbox" id="form1Example3">
                            <label class="form-check-label" for="form1Example3">
                                Se souvenir de moi
                            </label>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Connexion &nbsp; ❯</button>
                    <div class="w3-center mt-3">
                        <p> <a href="#">Mot de passe oublié.</a></p>
                        <p>Pas encore inscrit ?  <a class="text-primary" href="{{ path('inscription') }}">Créer un compte</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
