{% extends 'base.html.twig' %}

{% block title %}Qui Sommes-Nous{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Qui Sommes-Nous ?</h1>
        <p class ="mt-5">Bienvenue chez SoccerStore – Votre Destination Ultime pour les Amateurs de Football !Chez SoccerStore, nous sommes bien plus qu'une simple plateforme de vente en ligne. Nous sommes passionnés par le football, tout comme vous. Notre mission est de vous offrir une expérience unique où votre amour pour ce magnifique sport se fusionne avec des articles de qualité exceptionnelle.
        Découvrez une vaste collection de maillots de football authentiques, des plus grands clubs du monde aux équipes nationales les plus emblématiques. Chaque maillot que nous proposons est soigneusement sélectionné pour sa qualité, son design et son authenticité. Que vous souteniez une équipe légendaire ou que vous célébriez votre passion pour le football, nous avons le maillot parfait qui vous fera ressentir l'énergie du terrain, où que vous soyez.</p>
        <img src="{{ asset('uploads/bg5.jpg') }}" alt="bg" class="img-fluid" srcset="">
    </div>
{% endblock %}
